bids_database 
kqcls
EEG2100 
bids_dataset 
trash
ideas
database_bids
trash1
kqcls
test_bids
mapping_original_to_sub.csv
anonymous_patients.xlsx
unmatched_edf_files.txt
bids_testing
test
database_bids_new