bids_database 
EEG2100 
bids_dataset 
trash
ideas
database_bids
trash1
kqcls
test_bids
mapping_original_to_sub.csv
anonymous_patients.xlsx
unmatched_edf_files.txt
bids_testing
test
database_bids_new
final_database_bids 
Test_EDF
test_Small_BIDS 
Small_BIDS 
logging
Small_BIDS_Non_Match
